//Body font-family
body {
    font-family: $open-sans;
    color: $white;
}

//Headings font-family
h1, h2, h3, h4, h5, h6 {
    font-family: $poppins;
}

//Links
a {
    color: $white;
}