//Breakpoints
$break-tablet: 768px;
$break-desktop: 1440px;

//Colors
$theme-violet: hsl(257, 40%, 49%);
$theme-magenta: hsl(300, 69%, 71%);
$white: #fff;

//Fonts
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;